@import "tailwindcss";

@keyframes fillName{
    to{
        fill: rgba(242, 242, 242, 1);
    }
}

@keyframes animate-svg{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes pulsIn{
    0%{
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
  
    50%, 100%{
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
}
  
@keyframes pulsOut{
    0%, 50%{
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
  
    100%{
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
}  

@keyframes animBackground{
  0%{
    top: -60px;
  }

  100%{
    top: 120%;
  }
}

.revealNav.hid{
  display: none;
  transform: translate(0, 80px);
  animation: .4s translateN ease-in-out forwards;
  animation-delay: 300ms;
}

.revealNav3.hid{
  display: none;
  transform: translate(0, 80px);
  animation: .4s translateN ease-in-out forwards;
  animation-delay: 450ms;
}

.revealNav6.hid{
  display: none;
  transform: translate(0, 80px);
  animation: .4s translateN ease-in-out forwards;
  animation-delay: 600ms;
}

@keyframes translateN{
  to{
    transform: translate(0px, 0px);
  }
}