@import "tailwindcss";

@keyframes fillName{
    to{
        fill: rgba(242, 242, 242, 1);
    }
}

@keyframes animate-svg{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes pulsIn{
    0%{
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
  
    50%, 100%{
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
}
  
@keyframes pulsOut{
    0%, 50%{
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
  
    100%{
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
}  

@keyframes animBackground{
  0%{
    top: -60px;
  }

  100%{
    top: 120%;
  }
}

.revealNav.hid{
  display: none;
  transform: translate(0, 80px);
  animation: .4s translateN ease-in-out forwards;
  animation-delay: 300ms;
}

.revealNav3.hid{
  display: none;
  transform: translate(0, 80px);
  animation: .4s translateN ease-in-out forwards;
  animation-delay: 450ms;
}

.revealNav6.hid{
  display: none;
  transform: translate(0, 80px);
  animation: .4s translateN ease-in-out forwards;
  animation-delay: 600ms;
}

.revealNav9{
  display: none;
  transform: translate(0, -80px);
  animation: .4s translateN ease-in-out forwards;
  animation-delay: 750ms;
}

@keyframes translateN{
  to{
    transform: translate(0px, 0px);
  }
}

.revealLandPage1.hidd{
  display: none;
  transform: translate(0, 80px);
  opacity: 0;
  animation: .4s fadeIn ease-in-out forwards;
  animation-delay: 900ms;
}

.revealLandPage2.hidd{
  display: none;
  transform: translate(0, 80px);
  opacity: 0;
  animation: .4s fadeIn ease-in-out forwards;
  animation-delay: 1050ms;
}

.revealLandPage3.hidd{
  display: none;
  transform: translate(0, 80px);
  opacity: 0;
  animation: .4s fadeIn ease-in-out forwards;
  animation-delay: 1200ms;
}

.revealLandPage4.hidd{
  display: none;
  transform: translate(0, 80px);
  opacity: 0;
  animation: .4s fadeIn ease-in-out forwards;
  animation-delay: 1350ms;
}

.revealLandPageProfile.hidd{
  display: none;
  transform: translate(80px, 0);
  opacity: 0;
  animation: .4s fadeIn ease-in-out forwards;
  animation-delay: 1350ms;
}

@keyframes fadeIn{
  to{
    transform: translate(0, 0);
    opacity: 1;
  }
}