:root{
  --backColor: #242424;
  --fontColor: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s all;
}

body{
  background-color: var(--backColor);
  color: var(--fontColor);
  font-family: 'Roboto', sans-serif;
}

.name__intro{
  font-size: 10em;
  letter-spacing: 1px;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #222;
  transition: .4s all linear;
  z-index: 9999;
}

.name__intro svg{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  transition: .3s all linear;
  animation: fillName ease .3s forwards 4.5s;
  fill: rgba(242, 242, 242, 0);
}

#name path:nth-child(1){
  stroke-dasharray: 282;
  stroke-dashoffset: 282;
  animation: animate-svg 2s ease-in-out forwards 2.1s;
}

#name path:nth-child(2){
  stroke-dasharray: 476;
  stroke-dashoffset: 476;
  animation: animate-svg 2s ease-in-out forwards 1.95s;
}

#name path:nth-child(3){
  stroke-dasharray: 397;
  stroke-dashoffset: 397;
  animation: animate-svg 2s ease-in-out forwards 1.8s;
}

#name path:nth-child(4){
  stroke-dasharray: 364;
  stroke-dashoffset: 364;
  animation: animate-svg 2s ease-in-out forwards 1.65s;
}

#name path:nth-child(5){
  stroke-dasharray: 459;
  stroke-dashoffset: 459;
  animation: animate-svg 2s ease-in-out forwards 1.5s;
}

#name path:nth-child(6){
  stroke-dasharray: 282;
  stroke-dashoffset: 282;
  animation: animate-svg 2s ease-in-out forwards 1.35s;
}

#name path:nth-child(7){
  stroke-dasharray: 465;
  stroke-dashoffset: 465;
  animation: animate-svg 2s ease-in-out forwards 1.2s;
}

#name path:nth-child(8){
  stroke-dasharray: 459;
  stroke-dashoffset: 459;
  animation: animate-svg 2s ease-in-out forwards 1.05s;
}

#name path:nth-child(9){
  stroke-dasharray: 466;
  stroke-dashoffset: 466;
  animation: animate-svg 2s ease-in-out forwards .9s;
}

#name path:nth-child(10){
  stroke-dasharray: 451;
  stroke-dashoffset: 451;
  animation: animate-svg 2s ease-in-out forwards .75s;
}

#name path:nth-child(11){
  stroke-dasharray: 476;
  stroke-dashoffset: 476;
  animation: animate-svg 2s ease-in-out forwards .6s;
}

#name path:nth-child(12){
  stroke-dasharray: 397;
  stroke-dashoffset: 397;
  animation: animate-svg 2s ease-in-out forwards .45s;
}

#name path:nth-child(13){
  stroke-dasharray: 446;
  stroke-dashoffset: 446;
  animation: animate-svg 2s ease-in-out forwards .3s;
}

#name path:nth-child(14){
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation: animate-svg 2s ease-in-out forwards 0.15s;
}

.div_loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.loader:before, .loader:after{
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before{
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}

.loader:after{
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}
